@import "./variables";
@import "./_fonts.scss";

.header {
  display: flex;
  height: 30vh;
  width: auto;
  animation-name: pop_in;
  animation-duration: 2s;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 1vh 1vh black;
  color: white;
  padding: 15vh;
  overflow: hidden;

}
.title{
  @include phone {
    font-size: 8vh;
  }
  @include tablet {
    font-size: 10vh;
  }
  @include laptop {
    font-size: 14vh;
  }
  @include desktop {
    font-size: 16vh;
  }

}
@keyframes pop_in{
  0%{
    transform: scale(3);
  }
  100%{
    transform: scale(1);
  }
}
.title:hover{
  animation:tada 1s;
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}