$phone: 300px;
$tablet: 900px;
$laptop: 1100px;
$desktop: 1100px;

@mixin phone {
  @media (min-width: #{$phone}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin Card-B {
  background-color: White;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(180deg);
  transition: all 1s;
}
@mixin Card-F {
	background-color: White;
	top: 0;
	left: 0;
	z-index: 1;
	transition: all 1s;
}