@import "./_fonts.scss";
@import "./header";
@import "./animations";
@import "./variables";
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background-image: linear-gradient(rgba(82, 216, 221, 0.575),rgba(255, 255, 255, 0.822),rgba(82, 216, 221, 0.575))
}
.navigation_checkbox{
	display: none;
}

.navigation_button{
	background-color: white;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 6rem;
	z-index: 10000;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
	text-align: center;
	cursor: pointer;
}

.navigation_icon{
	position: relative;
	margin-top: 3.5rem;
}

.navigation_icon::before, .navigation_icon::after{
	content: "";
}

.navigation_icon::before{
	position: absolute;
	top: -1rem;
	left: 0;
}

.navigation_icon::after{
	position: absolute;
	top: 1rem;
	left: 0;
}

.navigation_icon, .navigation_icon:before, .navigation_icon:after{
	width: 3rem;
	height: 2px;
	background-color: #333;
	display: inline-block;
	transition: all .2s;
}

.navigation_button:hover .navigation_icon::before{
	top: -1.2rem;
}

.navigation_button:hover .navigation_icon::after{
	top: 1.2rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before{
	transform: rotate(495deg);
	top: 0rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after{
	transform: rotate(-495deg);
	top: 0rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon{
	background-color: transparent;
}

.navigation_list{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}

.navigation_item{
	margin: 1rem;
}

.navigation_nav{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
	width: 0%;
	transition: all .8s; 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	/*display: none;*/

}

.navigation_background{
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: 6.5rem;
	right: 6.5rem;
	background-image: radial-gradient(
		rgba(37, 176, 241, 0.5),
		rgba(66, 229, 235, 0.5));
	z-index: 30;
	transition: .8s;
	/*transform: scale(80);*/
}

.navigation_checkbox:checked~.navigation_background{
	transform: scale(80);
}

.navigation_checkbox:checked~.navigation_nav{
	/*display: initial;*/
	opacity: 1;
	z-index: 200;
	width: 100%;
}

.navigation_item{
	font-family: 'Permanent Marker', cursive;
	font-size: 5rem;
}

.navigation_link{
	text-decoration: none;
	color: black;
}

.navigation_link:hover{
	text-shadow: -1rem -1rem var(--color-primary-light),
	 1rem 1rem var(--color-primary-dark);
	 transition: 1s;
}
.section{
  height: 90vh;
  clip-path: polygon(0 0,95% 0%, 100% 95%, 0% 100%);
  border-radius: 3rem;
  background-size: cover;
  overflow: hidden; 
  background-position: center bottom;
}
.splash{
  background-image: linear-gradient(to left bottom,rgba(29, 218, 231, 0.608),rgba(238, 238, 159, 0.722)), url(images/CoverPhoto.jpg);
  display: flex;
  justify-content: center;
}
.arrow{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  width: 30px;
  height: 30px;
  margin: -10px;
  transform: rotate(45deg);
  transition: 10s;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
.History-of-Greece{
  flex-direction: row;
  background-image: linear-gradient(to left bottom,rgba(238, 238, 159, 0.664),rgba(22, 201, 186, 0.514)), url(images/Ocean.jpg);
  @include phone {
	height: 150vh;
  }
  @include tablet {
	height: 90vh;
  }
}
.History-Header{
  height: 16vh;
  font-size: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  @include phone {
	font-size: 8vh;
  }
  @include laptop{
	  font-size: 16vh;	  
  }
}
.content-block{
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-evenly;
  @include phone {
	flex-direction: column;
	height: 120vh;
  }
  @include tablet {
	flex-direction: column;
	height: 60vh;
  }
  @include laptop {
	flex-direction: row;
	height: 60vh;
  }

}
.image-container{
  display: flex;
  justify-content: space-evenly;
  height: 45vh;
  width: 60%;
  @include phone {
	width: 90%;
	flex-direction: column;
	height: 90vh;
	align-items: center;
	justify-content: space-evenly ;
  }
  @include tablet {
	width: 90%;	
	flex-direction: row;
	height: 45vh;
  }
  @include laptop {
	width: 60%;	
	flex-direction: row;
	height: 45vh;
  }
}
.History-Images{
  height: inherit;
  width: 30vh;
  overflow: hidden;
  border: 1vh solid #e3e7ec;
  transition: 4s;
  border-radius: 50%;
  @include phone {
	height: 30vh;
  }
  @include tablet {
	height: 40vh;
  }
}
.Alexander:hover{
  transition-duration: 5s;
  background-color: white;
  animation: pulse-flash 2s;
}
.Acropolis:hover{
  backface-visibility: visible;
  animation: pulse 2s;
}
.Statue:hover{
  animation: pulse 2s infinite;
}
.Text{
  width: 30%;
  display: flex;
  font-size: 4vh;
  align-items: center;
  justify-content: space-around;
  font-style: italic;
  font-weight: bolder;
  backdrop-filter: blur(4px) grayscale(50%);
  @include phone {
	font-size: 2vh;
	width: 80%;
  }
  @include laptop{
	width: 30%;
  }
}
.Attractions{
  background-image: linear-gradient(to left bottom,rgba(22, 201, 186, 0.404),rgba(238, 238, 159, 0.377)), url(images/Attraction.jpg);
  display: flex;
  flex-direction: column;
  @include phone {
	height: 255vh;
	clip-path: polygon(0 0,98% 0%, 100% 99%, 0% 100%);
  }
  @include tablet {
	height: 90vh;
	clip-path: polygon(0 0,97% 0%, 100% 95%, 0% 100%);
  }
}
.Attractions-Header{
	height: 16vh;
	font-size: 16vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	@include phone {
		font-size: 8vh;
	  }
	  @include laptop{
		  font-size: 16vh;
	  }
}
.card-box{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	@include phone{
		flex-direction: column;
		justify-content: space-evenly;
		height: 230vh;
	}
	@include tablet{
		flex-direction: row;
		align-items: center;
		height: 60vh;
	}
}
.card{
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.card-side-front{
	background-color: White;
	top: 0;
	left: 0;
	z-index: 1;
	transition: all 1s;
	border-radius: 10%;
}
.card-side-back{
	background-color: White;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(180deg);
	transition: all 1s;
	border-radius: 10%;
	opacity: 80%;
}
.card-side{
	height: 450px;
	width: 270px;
	font-size: 15px;
	color: white;
	backface-visibility: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);

}

.card:hover .card-side-front{
	transform: rotateY(-180deg);
}
.card:hover .card-side-back{
	transform: rotateY(0deg);
}

.Santorini-F{
	background-image: url(Images/Santorini.jpg);
	background-position: center;
	background-size: cover;
}

.Santorini-B{
	
}

.Temple-F{
	background-image: url(Images/Temple.jpg);
	background-position: center;
	background-size: cover;
}
.Stairs-F{
	background-image: url(Images/Stairs.jpg);
	background-position: center;
	background-size: cover;
}
.Stories{
  background-image: linear-gradient(to left bottom,rgba(22, 201, 186, 0.304),rgba(238, 238, 159, 0.277)),url(Images/Cafe.jpg);
}
.Book-Stay{
  background-image: linear-gradient(to left bottom,rgba(22, 201, 186, 0.204),rgba(238, 238, 159, 0.177)),url(Images/Book.jpg);
}
